In [1]:
import numpy as np
import pandas as pd

In [2]:
#definindo variável
df = pd.DataFrame(
    index=pd.Index(data=["Leite", "Ovos", "Carne", "Arroz", "Feijão"], name="Itens"),
    columns=["Unidade", "Quantidade",  "Preço Unitário"],
    data=np.array([
        ["Litro", "Dúzia", "Kilograma", "Kilograma", "Kilograma"],
        [4, 3, 1, 5, 2],
        [3.00, 6.50, 25.90, 5.00, 3.80]    ]).T,)

df.dtypes

Unidade           object
Quantidade        object
Preço Unitário    object
dtype: object

In [3]:
#conversão necessária pois o pandas interpreta 'mixed types' como strings
df[["Quantidade",  "Preço Unitário"]] = df[["Quantidade",  "Preço Unitário"]].astype(float)

In [4]:
df

          Unidade  Quantidade  Preço Unitário
Itens
Leite       Litro         4.0             3.0
Ovos        Dúzia         3.0             6.5
Carne   Kilograma         1.0            25.9
Arroz   Kilograma         5.0             5.0
Feijão  Kilograma         2.0             3.8

# operações vetoriais

In [5]:
#incrementando preço
df["Preço Unitário"] += 1.
df

          Unidade  Quantidade  Preço Unitário
Itens
Leite       Litro         4.0             4.0
Ovos        Dúzia         3.0             7.5
Carne   Kilograma         1.0            26.9
Arroz   Kilograma         5.0             6.0
Feijão  Kilograma         2.0             4.8

In [6]:
#desconto de 10% no preço
df["Preço Unitário"] *= 0.90
df

          Unidade  Quantidade  Preço Unitário
Itens
Leite       Litro         4.0            3.60
Ovos        Dúzia         3.0            6.75
Carne   Kilograma         1.0           24.21
Arroz   Kilograma         5.0            5.40
Feijão  Kilograma         2.0            4.32

In [7]:
#Preço por Kg
df["Preço Médio Por Kg"] = np.nan #adiciona coluna
mask = df["Unidade"] == "Kilograma" #só o que é peso kg
df.loc[mask, "Preço Médio Por Kg"] = (df.loc[mask, "Preço Unitário"] / df.loc[mask, "Quantidade"]).sum()
df.fillna(0) #preenche vazios
df

          Unidade  Quantidade  Preço Unitário  Preço Médio Por Kg
Itens
Leite       Litro         4.0            3.60                 NaN
Ovos        Dúzia         3.0            6.75                 NaN
Carne   Kilograma         1.0           24.21               27.45
Arroz   Kilograma         5.0            5.40               27.45
Feijão  Kilograma         2.0            4.32               27.45

In [8]:
#apenas valores numéricos
#sum, mean, std, median
df.sum()

Unidade               LitroDúziaKilogramaKilogramaKilograma
Quantidade                                               15
Preço Unitário                                        44.28
Preço Médio Por Kg                                    82.35
dtype: object

In [9]:
df.mean()

Quantidade             3.000
Preço Unitário         8.856
Preço Médio Por Kg    27.450
dtype: float64

In [10]:
df.median()

Quantidade             3.00
Preço Unitário         5.40
Preço Médio Por Kg    27.45
dtype: float64

In [11]:
df.std()

Quantidade            1.581139
Preço Unitário        8.664948
Preço Médio Por Kg    0.000000
dtype: float64