In [2]:
import pandas as pd

# estruturas homogêneas

# append: adiciona linhas

In [4]:
orders = pd.DataFrame(columns=["user_id", "store_id", "product_id"],
                      data=[[1, 1, 1],[2, 2, 2], [3, 3, 3] ])

In [5]:
new_orders = pd.DataFrame(columns=["user_id", "store_id", "product_id"],
                          data=[[2, 1, 3],[3, 2, 1], [1, 3, 2] ])

In [6]:
orders = orders.append(new_orders)
orders

   user_id  store_id  product_id
0        1         1           1
1        2         2           2
2        3         3           3
0        2         1           3
1        3         2           1
2        1         3           2

In [7]:
#append não verifica índices, podendo repetir existentes
#caso um dos DataFrames tenha uma coluna a mais, o outro replica essa coluna, preenchida com NaNs

# join: adiciona colunas

In [8]:
stores = pd.DataFrame(columns=["store_id","store_name"],data=[[1,"Pão de Açucar"],[2,"Dia"],[3,"Extra"]])
stores

   store_id     store_name
0         1  Pão de Açucar
1         2            Dia
2         3          Extra

In [20]:
storeshours = pd.DataFrame(index=stores.index, columns=["opens", "closes"],    
                           data=[["9:00", "22:00"],["8:00", "18:00"],["11:00", "21:00"] ])

In [21]:
stores.join(storeshours)

   store_id     store_name  opens closes
0         1  Pão de Açucar   9:00  22:00
1         2            Dia   8:00  18:00
2         3          Extra  11:00  21:00

In [13]:
#usa como base o index
storeshours.index = [3, 4, 5]
temp_stores = stores.join(storeshours)
temp_stores

   store_id     store_name opens closes
0         1  Pão de Açucar   NaN    NaN
1         2            Dia   NaN    NaN
2         3          Extra   NaN    NaN

In [15]:
#tipos de join: inner, outer, left, right. default: left join
temp_stores = stores.join(storeshours, how="right")
temp_stores

   store_id store_name  opens closes
3       NaN        NaN   9:00  22:00
4       NaN        NaN   8:00  18:00
5       NaN        NaN  11:00  21:00

In [16]:
#concatenando estruturas com índices diferentes
temp_stores = stores.join(storeshours, how="outer")
temp_stores

   store_id     store_name  opens closes
0       1.0  Pão de Açucar    NaN    NaN
1       2.0            Dia    NaN    NaN
2       3.0          Extra    NaN    NaN
3       NaN            NaN   9:00  22:00
4       NaN            NaN   8:00  18:00
5       NaN            NaN  11:00  21:00

In [17]:
temp_stores = stores.join(storeshours, how="inner")
temp_stores

Empty DataFrame
Columns: [store_id, store_name, opens, closes]
Index: []

In [19]:
#em DataFrames com nomes de coluna iguais, deve-se especificar sufixos para diferenciar as colunas.
#stores.join(stores, lsuffix="_original")
#stores.join(stores, rsuffix="_copycat")
temp_stores = stores.join(stores, lsuffix="_original", rsuffix="_copycat")
temp_stores

   store_id_original store_name_original  store_id_copycat store_name_copycat
0                  1       Pão de Açucar                 1      Pão de Açucar
1                  2                 Dia                 2                Dia
2                  3               Extra                 3              Extra

# estruturas heterogêneas

In [22]:
#construção de tabelas que compartilham uma ou mais variáveis
#reset_index para liberar as variáveis para o merge
stores = stores.reset_index()

In [23]:
df = pd.merge( left=orders,    right=stores,    on="store_id" )
df

   user_id  store_id  product_id  index     store_name
0        1         1           1      0  Pão de Açucar
1        2         1           3      0  Pão de Açucar
2        2         2           2      1            Dia
3        3         2           1      1            Dia
4        3         3           3      2          Extra
5        1         3           2      2          Extra