In [1]:
import pandas as pd

In [ ]:
series -> single brackets [ ]
dataframe -> double brackets [[ ]]

In [ ]:
dataframe methods
index, columns, sort_index, sort_values, transpose
len, head, tail, info, describe

In [10]:
#construção padrão 
pd.DataFrame( index=["Leite", "Ovos", "Carne", "Arroz", "Feijão"],
                        columns=["quantidade", "unidade"],
                        data=[ [ 2,  "L"],  [12, "Ud"], [ 1, "Kg"], [ 5, "Kg"], [ 2, "Kg"]  ])

        quantidade unidade
Leite            2       L
Ovos            12      Ud
Carne            1      Kg
Arroz            5      Kg
Feijão           2      Kg

In [11]:
#construção padrão: dados desconhecidos
pd.DataFrame( index=["Leite", "Ovos", "Carne", "Arroz", "Feijão"],
                        columns=["quantidade", "unidade"])

       quantidade unidade
Leite         NaN     NaN
Ovos          NaN     NaN
Carne         NaN     NaN
Arroz         NaN     NaN
Feijão        NaN     NaN

In [12]:
#construção padrão: valor padrão 
pd.DataFrame( index=["Leite", "Ovos", "Carne", "Arroz", "Feijão"],
                       columns=["quantidade", "unidade"],
                       data="?")

       quantidade unidade
Leite           ?       ?
Ovos            ?       ?
Carne           ?       ?
Arroz           ?       ?
Feijão          ?       ?

In [13]:
#recebendo um Dicionário
pd.DataFrame(  {   "quantidade": { "Leite": 2, "Ovos": 12, "Carne": 1,  "Arroz": 5,  "Feijão": 2    },
                              "unidade": { "Leite": "L",  "Ovos": "Ud", "Carne": "Kg", "Arroz": "Kg", "Feijão": "Kg" }  })

        quantidade unidade
Arroz            5      Kg
Carne            1      Kg
Feijão           2      Kg
Leite            2       L
Ovos            12      Ud

In [14]:
#recebendo um dicionário de series
index = ["Leite", "Ovos", "Carne", "Arroz", "Feijão"]
pd.DataFrame(   {   "quantidade": pd.Series(index=index,  data=[2, 12, 1, 5, 2]),
                               "unidade": pd.Series(index=index,  data=["L", "Ud", "Kg", "Kg", "Kg"])    })

        quantidade unidade
Leite            2       L
Ovos            12      Ud
Carne            1      Kg
Arroz            5      Kg
Feijão           2      Kg

In [16]:
#recebendo um vetor de series
index = ["Leite", "Ovos", "Carne", "Arroz", "Feijão"]
df = pd.DataFrame(   [  pd.Series(name="quantidade", index=index,  data=[2, 12, 1, 5, 2]),
                                    pd.Series(name="unidade", index=index,  data=["L", "Ud", "Kg", "Kg", "Kg"]) ])
df

           Leite Ovos Carne Arroz Feijão
quantidade     2   12     1     5      2
unidade        L   Ud    Kg    Kg     Kg

In [17]:
#transpondo para ajustar a tabela
df.T

       quantidade unidade
Leite           2       L
Ovos           12      Ud
Carne           1      Kg
Arroz           5      Kg
Feijão          2      Kg