In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame(columns=["Item","Quantidade", "Unidade"],
             data = [["Leite",2,"L"],["Ovos",12,"Ud"],["Carne",1,"Kg"],["Arroz",5,"Kg"],["Feijão",2,"Kg"]])
df["Preço p/ Ud"] = [5.00, 29.99, 6.50, 3.30, 0.50]
df["Preço Total"] = [25.00, 29.99, 13.00, 6.60, 6.00]
df

     Item  Quantidade Unidade  Preço p/ Ud  Preço Total
0   Leite           2       L         5.00        25.00
1    Ovos          12      Ud        29.99        29.99
2   Carne           1      Kg         6.50        13.00
3   Arroz           5      Kg         3.30         6.60
4  Feijão           2      Kg         0.50         6.00

In [6]:
for lab, row in df.iterrows() :
    print(row["Item"])

Leite
Ovos
Carne
Arroz
Feijão

In [12]:
for lab, row in df.iterrows() :
    df.loc[lab, "Quantidade"] = str(row["Quantidade"])
    #print(row["Item"] + ": " + row["Quantidade"])

In [17]:
for lab, row in df.iterrows() :
    #df.loc[lab, "Quantidade"] = str(row["Quantidade"])
    print(row["Item"] + ": " + row["Quantidade"])

Leite: 2
Ovos: 12
Carne: 1
Arroz: 5
Feijão: 2