In [13]:
import pandas as pd

### [start (inclusive) : finish (exclusive) : step]

In [ ]:
series -> single brackets [ ]
dataframe -> double brackets [[ ]]

In [14]:
s = pd.Series( name="Compras", index=["Leite", "Ovos", "Carne", "Arroz", "Feijão"], data=[2, 12, 1, 5, 2])

In [15]:
index = pd.Index(data=["Leite", "Ovos", "Carne", "Arroz", "Feijão"], name="Itens")
sq = pd.Series(index=index,  data=[2, 12, 1, 5, 2]).sort_values()
su = pd.Series(index=index,  data=["L", "Ud", "Kg", "Kg", "Kg"]).sort_index()
df = pd.DataFrame({"Quantidade": sq, "Unidade": su}).sort_values(by="Unidade")
df["Preço p/ Ud"] = [5.00, 29.99, 6.50, 3.30, 0.50]
df["Preço Total"] = [25.00, 29.99, 13.00, 6.60, 6.00]

# row access

In [16]:
s.sort_values()

Carne      1
Leite      2
Feijão     2
Arroz      5
Ovos      12
Name: Compras, dtype: int64

In [5]:
s[2]

1

In [17]:
s[5:2:-1]

Feijão    2
Arroz     5
Name: Compras, dtype: int64

In [18]:
s["Leite"]

2

In [19]:
s["Leite":"Arroz"]

Leite     2
Ovos     12
Carne     1
Arroz     5
Name: Compras, dtype: int64

# column access

In [20]:
df["Unidade"]

Arroz     Kg
Carne     Kg
Feijão    Kg
Leite      L
Ovos      Ud
Name: Unidade, dtype: object

In [21]:
df.Quantidade

Arroz      5
Carne      1
Feijão     2
Leite      2
Ovos      12
Name: Quantidade, dtype: int64

In [11]:
#uma coluna do dataframe é uma serie
df["Preço Total"][2]

13.0

In [22]:
#acesso a mais de uma coluna
df[["Preço Total", "Quantidade"]]

        Preço Total  Quantidade
Arroz         25.00           5
Carne         29.99           1
Feijão        13.00           2
Leite          6.60           2
Ovos           6.00          12

# LOC e ILOC

In [23]:
#acesso a linhas 
df.loc["Leite"]

Quantidade       2
Unidade          L
Preço p/ Ud    3.3
Preço Total    6.6
Name: Leite, dtype: object

In [23]:
#acesso a item
df.loc["Ovos", "Preço Total"]

6.0

In [24]:
#acesso a item
df.iloc[4, 3]

6.0

In [26]:
#acesso com slicing: loc
df.loc["Leite":, "Preço p/ Ud":]

       Preço p/ Ud  Preço Total
Leite          3.3          6.6
Ovos           0.5          6.0

In [27]:
#acesso com slicing: iloc
df.iloc[3:, 2:]

       Preço p/ Ud  Preço Total
Leite          3.3          6.6
Ovos           0.5          6.0