In [2]:
import pandas as pd

In [3]:
s = pd.Series([2, 12, 1, 5, 2])
print(s)

0     2
1    12
2     1
3     5
4     2
dtype: int64

### editando parâmetros na serie

In [4]:
s.name="Compras"
s.index=["Leite", "Ovos", "Carne", "Arroz", "Feijão"]
print(s)

Leite      2
Ovos      12
Carne      1
Arroz      5
Feijão     2
Name: Compras, dtype: int64

### ordenando serie

In [5]:
#pelo index
s.sort_index()

Arroz      5
Carne      1
Feijão     2
Leite      2
Ovos      12
Name: Compras, dtype: int64

In [6]:
#pelos dados
s.sort_values(ascending=False)

Ovos      12
Arroz      5
Feijão     2
Leite      2
Carne      1
Name: Compras, dtype: int64

### editando parâmetros no dataframe

In [7]:
df = pd.DataFrame( index=["Leite", "Ovos", "Carne", "Arroz", "Feijão"],
                        columns=["quantidade", "unidade"],
                        data=[ [ 2,  "L"],  [12, "Ud"], [ 1, "Kg"], [ 5, "Kg"], [ 2, "Kg"]  ])
df

        quantidade unidade
Leite            2       L
Ovos            12      Ud
Carne            1      Kg
Arroz            5      Kg
Feijão           2      Kg

In [8]:
df.index = ["Leite tipo A", "Ovos Orgânicos", "Patinho", "Arroz Arbóreo", "Feijão Preto"]
df.columns = ["Quantidade", "Unidade"]
df

                Quantidade Unidade
Leite tipo A             2       L
Ovos Orgânicos          12      Ud
Patinho                  1      Kg
Arroz Arbóreo            5      Kg
Feijão Preto             2      Kg

### ordenando dataframe

In [9]:
#pelo index
df.sort_index()

                Quantidade Unidade
Arroz Arbóreo            5      Kg
Feijão Preto             2      Kg
Leite tipo A             2       L
Ovos Orgânicos          12      Ud
Patinho                  1      Kg

In [25]:
#pelos dados
df.sort_values(by="Unidade", ascending=False)

                Quantidade Unidade
Ovos Orgânicos          12      Ud
Leite tipo A             2       L
Patinho                  1      Kg
Arroz Arbóreo            5      Kg
Feijão Preto             2      Kg

### adicionando colunas / valores

In [10]:
index = pd.Index(data=["Leite", "Ovos", "Carne", "Arroz", "Feijão"], name="Itens")
sq = pd.Series(index=index,  data=[2, 12, 1, 5, 2]).sort_values()
su = pd.Series(index=index,  data=["L", "Ud", "Kg", "Kg", "Kg"]).sort_index()
df = pd.DataFrame({"Quantidade": sq, "Unidade": su}).sort_values(by="Unidade")
df["Preço p/ Ud"] = [5.00, 29.99, 6.50, 3.30, 0.50]
df["Preço Total"] = [25.00, 29.99, 13.00, 6.60, 6.00]
df

        Quantidade Unidade  Preço p/ Ud  Preço Total
Arroz            5      Kg         5.00        25.00
Carne            1      Kg        29.99        29.99
Feijão           2      Kg         6.50        13.00
Leite            2       L         3.30         6.60
Ovos            12      Ud         0.50         6.00